#!/usr/bin/env zsh

# XDG

export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CACHE_HOME="$HOME/.cache"

# editor

export EDITOR="nvim"
export VISUAL="nvim"

# gnupg

export GNUPGHOME="$XDG_CONFIG_HOME/gnupg"

{{- $paths := list }}
{{- $homeDir := .chezmoi.homeDir }}
{{- $xdgDataDir := joinPath $homeDir ".local/share" }}
{{- range $_, $relPath := list ".local/bin" "bin" }}
{{-   $path := joinPath $homeDir $relPath }}
{{-   if stat $path }}
{{-     $paths = mustAppend $paths $path }}
{{-   end }}
{{- end }}

{{- if lookPath "go" }}
{{-   $localGoBinPath := joinPath $xdgDataDir "go/bin" }}
{{-   $sysGoBinPath := "/usr/local/go/bin" }}
{{-   if stat $localGoBinPath }}
{{-     $paths = mustPrepend $paths $localGoBinPath }}
{{-   end }}
{{-   if stat $sysGoBinPath }}
{{-     $paths = mustAppend $paths $sysGoBinPath }}
{{-   end }}
{{- end }}

# GOPATH

export GOPATH="$XDG_DATA_HOME/go"

{{- /* Make sure devops bin path is prepended last (i.e., first location in PATH) */ -}}
{{- $devopsBinPath := joinPath $homeDir ".devops/bin" }}
{{- if and .work (stat $devopsBinPath) }}
{{-     $paths = mustPrepend $paths $devopsBinPath }}
{{- end }}

{{- if $paths }}

# path
typeset -U PATH path
{{- $quotePaths := list }}
{{- range $_, $v := $paths }}
{{-    $quotePaths = mustAppend $quotePaths (quote $v) }}
{{- end }}
{{- $quotePaths = mustAppend $quotePaths (quote `$path[@]`) }}
path=({{ toStrings $quotePaths | join " " }})
export PATH
{{- end }}
