#!/usr/bin/env zsh

# Create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$_";
}

{{- if lookPath "tree" }}

# `tre` is a shorthand for `tree` with hidden files and color enabled, ignoring
# the `.git` directory, listing directories first. The output gets piped into
# `less` with options to preserve color and line numbers, unless the output is
# small enough for one screen.
function tre() {
    tree -aC -I '.git|node_modules|bower_components' --dirsfirst "$@" | less -FRNX;
}
{{ end -}}

{{- if lookPath "bw" }}
# `bwu` is shorthand for unlocking the bw CLI and exporting the BW_SESSION variable
function bwu() {
    if ! bw unlock --check > /dev/null; then
        export BW_SESSION="$(bw unlock --raw)"
    else
        echo "Vault is already unlocked!"
    fi
}

# `bwl` is shorthand for locking the bw CLI
function bwl() {
    if bw unlock --check > /dev/null; then
        bw lock
        export BW_SESSION=''
        unset BW_SESSION
    fi
}
{{ end -}}
