" Neovim config

" Plugins (managed using vim-plug)
call plug#begin(stdpath('data') . '/plugged')

" Plugins
Plug 'itchyny/lightline.vim'
Plug 'preservim/nerdtree'
Plug 'preservim/nerdcommenter'
Plug 'cespare/vim-toml'

{{- if .wsl }}
Plug 'fatih/vim-go'
{{- end }}

" Colourschemes
Plug 'NLKNguyen/papercolor-theme'

call plug#end()

" Set compatibility to Vim only.
set nocompatible

" Enable syntax highlighting
syntax enable

" Show matching braces when text indicator is over them
set showmatch

" Set background and colourscheme
set background=dark
silent! colorscheme PaperColor " Silenced for when plugin hasn't installed

" Detection, plugin and indent on
filetype plugin indent on

" Set tabs to expand to spaces. Death to tabs!
set expandtab

" Spaces for each step of (auto)indent
set shiftwidth=4

" Set virtual tab stop (compat for 8-wide tabs)
set softtabstop=4

" For proper display of files with tabs
set tabstop=4

" Setting spaces to 2 for yaml,yml,toml files
autocmd FileType yaml,yml,toml setlocal ts=2 sts=2 sw=2 expandtab

" Use tabs in go files
autocmd FileType go setlocal noexpandtab shiftwidth=4 softtabstop=4 tabstop=4

" Show line numbers and numbering mode to relative
set number
set relativenumber

" Allow hiding of buffers. See `:help hidden` for more info
set hidden

" Show lines above and below cursor (when possible)
set scrolloff=5

" Make backspace behave more reasonably. Can backspace over anything
set backspace=indent,eol,start

" No need for '--- INSERT ---' because of lightline.vim
set noshowmode

" Sane splits
set splitright
set splitbelow

" Enable searching as you type, rather than waiting until enter is pressed
set incsearch

" Make search case-sensitive when all characters in a string being search on
" are lowercase. However, the search becomes case-sensitive if it contains any
" capital letters. This makes searching more convenient.
set ignorecase
set smartcase

" Unbind some useless/annoying default bindings
nmap Q <Nop>

" Try to prevent bad habits like using arrow keys for movement.
" Do this in normal mode ...
nnoremap <Left>  :echoe "Use h"<CR>
nnoremap <Right> :echoe "Use l"<CR>
nnoremap <UP>    :echoe "Use k"<CR>
nnoremap <Down>  :echoe "Use j"<CR>
" ... and in insert mode
inoremap <Left>  <ESC>:echoe "Use h"<CR>
inoremap <Right> <ESC>:echoe "Use l"<CR>
inoremap <Up>    <ESC>:echoe "Use k"<CR>
inoremap <Down>  <ESC>:echoe "Use j"<CR>

" ----------------
"  Plugin config
" ----------------

" nerdtree
nnoremap <Leader>n :NERDTreeToggle<CR>

" lightline.vim
let g:lightline = { 'colorscheme': 'PaperColor' }
{{/* vim: set filetype=vim: */}}
