[".config/zsh/plugins/zsh-syntax-highlighting"]
  type = "archive"
  url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
  include = ["*/*.zsh", "*/.version", "*/.revision-hash", "*/highlighters", "*/highlighters/*", "*/highlighters/*/*.zsh"]
[".config/zsh/plugins/zsh-autosuggestions"]
  type = "archive"
  url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
  include = ["*/*.zsh", "*/VERSION"]
[".config/zsh/plugins/zsh-nvm"]
  type = "archive"
  url = "https://github.com/lukechilds/zsh-nvm/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
  include = ["*/*.zsh"]
[".config/zsh/plugins/zsh-vi-mode"]
  type = "archive"
  url = {{ (gitHubRelease "jeffreytse/zsh-vi-mode" "v0.11.0").TarballURL | quote }}
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
  include = ["*/*.zsh"]
[".local/share/tmux-plugins/tmux-resurrect"]
  type = "archive"
  url = "https://github.com/tmux-plugins/tmux-resurrect/archive/refs/heads/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
  include = ["*/resurrect.tmux", "*/scripts/**", "*/strategies/**", "*/lib/**", "*/save_command_strategies/**"]
[".local/bin/asdf"]
  type = "archive-file"
  url = {{ gitHubReleaseAssetURL "asdf-vm/asdf" "v0.18.0" (printf "asdf-*-%s-%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
  path = "asdf"
  executable = true
  refreshPeriod = "168h"
{{- if .nerdfont }}
[".local/share/fonts/firacode-nerd-font"]
  type = "archive"
  url = {{ gitHubLatestReleaseAssetURL "ryanoasis/nerd-fonts" "FiraCode.tar.xz" | quote }}
  exact = true
  stripComponents = 0
  refreshPeriod = "168h"
  include = ["*.ttf"]
{{- end -}}
