{{- /* boolean feature tags */ -}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $ephemeral := false -}}{{/* true if this machine is temporary, e.g. a cloud or VM instance */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- $work := false -}}{{/* true if this machine is used at work */}}
{{- $wsl := false -}}{{/* true if this machine is running Windows Subsystem for Linux */}}
{{- $nerdfont := false -}}{{/* true if this machine should have nerd font installed */}}
{{- $interactive := stdinIsATTY -}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- /* detect GitHub codespaces and VSCode remote containers */ -}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") -}}
{{-   $headless = true -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{- $hostname := .chezmoi.hostname -}}

{{- /* detect WSL */ -}}
{{- if (eq .chezmoi.os "linux") -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-     $wsl = true -}}
{{-   end -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   if eq $hostname "zion" -}}
{{-     $personal = true -}}
{{-   else if eq $hostname "arcus" -}}
{{-     $personal = true -}}
{{-   else if eq $hostname "lupus" -}}
{{-     $headless = true -}}
{{-   else if eq $hostname "xepheros" -}}
{{-     $personal = true -}}
{{-   else if eq $hostname "xepheros-fedora" -}}
{{-     $personal = true -}}
{{-   else if eq $hostname "Nathan-Laptop" -}}
{{-     $personal = true -}}
{{-   else if stdinIsATTY -}}
{{-     $work = promptBoolOnce . "work" "work" -}}
{{-     $headless = promptBoolOnce . "headless" "headless" -}}
{{-     $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" -}}
{{-   else -}}
{{-     $headless = true -}}
{{-     $emphemeral = true -}}
{{-   end -}}
{{- end -}}

{{- /* Set location of keepass config on work machine */ -}}
{{- $keepassDbPath := "" -}}
{{- $keepassKeyFilePath := "" -}}
{{- $keepassConfigured := false -}}
{{- if and $work stdinIsATTY -}}
{{-   $keepassDbPath = promptStringOnce . "keepassDbPath" "keepass db path" | replace "~" .chezmoi.homeDir -}}
{{-   $keepassKeyFilePath = promptStringOnce . "keepassKeyFilePath" "keepass key file path" | replace "~" .chezmoi.homeDir -}}
{{-   $keepassConfigured = true -}}
{{-   $nerdfont = true -}}
{{- end -}}

{{- /* Install font on Linux machines that are personal and not headless */ -}}
{{- if (and $personal (not $headless) (eq .chezmoi.os "linux")) -}}
{{-   $nerdfont = true -}}
{{- end -}}

{{- /* Initializes the name variable with a default value */ -}}
{{- $email := "commit@nfielder.dev" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $interactive -}}
{{-   $email = promptString "email" $email -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[bitwarden]
    unlock = "auto"

{{ if $keepassConfigured -}}
[keepassxc]
    database = {{ $keepassDbPath | quote }}
    prompt = false
    args = ["--no-password", "--key-file", {{ $keepassKeyFilePath | quote }}]

{{ end -}}

{{ if $work -}}
[github]
    refreshPeriod = "30m"

{{ end -}}

[data]
    headless = {{ $headless }}
    ephemeral = {{ $ephemeral }}
    interactive = {{ $interactive }}
    wsl = {{ $wsl }}
    hostname = {{ $hostname | quote }}
    personal = {{ $personal }}
    work = {{ $work }}
    email = {{ $email | quote }}
    osid = {{ $osID | quote }}
    nerdfont = {{ $nerdfont }}
{{- if $keepassConfigured }}
    keepassDbPath = {{ $keepassDbPath | quote }}
    keepassKeyFilePath = {{ $keepassKeyFilePath | quote }}
{{- end }}
