[".config/zsh/plugins/zsh-syntax-highlighting"]
  type = "archive"
  url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
  include = ["*/*.zsh", "*/.version", "*/.revision-hash", "*/highlighters/**"]
[".config/zsh/plugins/zsh-autosuggestions"]
  type = "archive"
  url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
  include = ["*/*.zsh", "*/VERSION"]
[".config/zsh/plugins/zsh-nvm"]
  type = "archive"
  url = "https://github.com/lukechilds/zsh-nvm/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
  include = ["*/*.zsh"]
{{- if lookPath "docker" }}
{{- $dockerVersion := output "docker" "version" "--format" "{{.Client.Version}}" | trim }}
[".config/zsh/completions/_docker"]
  type = "file"
  url = "https://raw.githubusercontent.com/docker/cli/v{{ $dockerVersion }}/contrib/completion/zsh/_docker"
  refreshPeriod = "168h"
{{- end -}}
