{{ if (eq .chezmoi.os "linux") -}}
{{   if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
{{     if (not .transient) -}}
#!/bin/bash

# strict mode
set -euf -o pipefail

packages+=(
        zsh
)

sudo apt update

sudo apt install -y ${packages[@]}
{{-    end }}
{{   end -}}
{{ end -}}
