min_version = { soft = "2026.1.9" }

[settings]
# General
experimental = false
use_versions_host_track = false

{{- if and .work false }} # disable for now TODO: add new company details
{{- $artifactHost := "placeholder" }}
use_versions_host = false

# Golang
go_download_mirror = "https://{{ $artifactHost }}/repository/raw-dl-google-com/go"

# Dotnet
[settings.dotnet]
registry_url = "https://{{ $artifactHost }}/repository/nuget-proxy/index.json"

# Python
[settings.pipx]
registry_url = "https://{{ $artifactHost }}/repository/pypi-proxy/simple/{}/"

# Replacements to direct outgoing requests to internal corporate proxy/cache
[settings.url_replacements]
"https://github.com" = "https://{{ $artifactHost }}/repository/raw-github-com"
"https://api.github.com" = "https://{{ $artifactHost }}/repository/raw-api-github-com"
"https://raw.githubusercontent.com" = "https://{{ $artifactHost }}/repository/raw-githubusercontent-com"
"https://mise-versions.jdx.dev" = "https://{{ $artifactHost }}/repository/raw-mise-versions"
"https://mise-java.jdx.dev" = "https://{{ $artifactHost }}/repository/raw-mise-java"
"https://releases.hashicorp.com" = "https://{{ $artifactHost }}/repository/raw-hashicorp-com"
"https://dl.k8s.io" = "https://{{ $artifactHost }}/repository/raw-dl-k8s-io"
"https://pypi.org" = "https://{{ $artifactHost }}/repository/pypi-proxy"
"https://nodejs.org/dist" = "https://{{ $artifactHost }}/repository/raw-nodedist"
{{ end }}

{{- $commonPackages := deepCopy .packages.mise.common -}}
{{- $allPackages := dict }}
{{- if .work -}}
{{-   $allPackages = mustMergeOverwrite $commonPackages .packages.mise.work -}}
{{- else if .personal -}}
{{-   $allPackages = mustMergeOverwrite $commonPackages .packages.mise.personal -}}
{{- end -}}

{{- /* check map is non-empty and not nil */ -}}
{{- if $allPackages }}

{{ dict "tools" $allPackages | toToml -}}
{{- end -}}
