#!/usr/bin/env zsh

# XDG

export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CACHE_HOME="$HOME/.cache"

# editor

export EDITOR="nvim"
export VISUAL="nvim"

# gnupg

export GNUPGHOME="$XDG_CONFIG_HOME/gnupg"

# path

typeset -U PATH path

if [ -d "$HOME/bin" ] ; then
    path=("$HOME/bin" "$path[@]")
fi

if [ -d "$HOME/.local/bin" ] ; then
    path=("$HOME/.local/bin" "$path[@]")
fi

{{- if .wsl }}

# GOPATH
export GOPATH="$HOME/go"
# WSL-2 specific path
path=("$HOME/.arkade/bin" "$GOPATH/bin" "$path[@]" "/usr/local/go/bin")
{{- end }}

export PATH
{{/* vim: set filetype=zsh: */}}
