#!/usr/bin/env zsh

# XDG

export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CACHE_HOME="$HOME/.cache"

# editor

export EDITOR="nvim"
export VISUAL="nvim"

# gnupg

export GNUPGHOME="$XDG_CONFIG_HOME/gnupg"

{{- $paths := list }}
{{- $homeDir := .chezmoi.homeDir }}
{{- range $_, $relPath := list ".local/bin" "go/bin" "bin" }}
{{-   $path := joinPath $homeDir $relPath }}
{{-   if stat $path }}
{{-     $paths = mustAppend $paths $path }}
{{-   end }}
{{- end }}

{{- if .wsl }}
{{- $paths = mustPrepend $paths (joinPath $homeDir ".arkade/bin") }}
{{- $paths = mustAppend $paths "/usr/local/go/bin" }}

# GOPATH
export GOPATH="$HOME/go"
{{- end }}

{{- if $paths }}

# path
export PATH={{ toStrings $paths | join ":" }}:$PATH
{{- end }}
{{- /* vim: set filetype=zsh: */ -}}
