[user]
    name = Nathan Fielder
    email = {{ .email }}
{{- if .personal }}
    signingkey = 27C561639C492B55
{{- end }}
[commit]
    verbose = true
{{- if .personal }}
    gpgsign = true
{{- end }}
[alias]
    # List available aliases
    aliases = !git config --get-regexp alias | sed -re 's/alias\\.(\\S*)\\s(.*)$/\\1 = \\2/g'
    a = add
    aa = add -A
    amend = commit --amend -C HEAD
    ap = add -p
    ci = commit
    cia = commit --amend
    cim = commit -m
    cl = clone
    co = checkout
    df = diff
    dh = diff HEAD
    dic = diff --cached
    fo = fetch origin
    fp = fetch --prune
    l = log
    lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lo = log --pretty=oneline
    lol = log --graph --oneline --decorate
    mff = merge --ff-only
    out = "log @{u}.."
    pl = pull
    plrb = pull --rebase
    plo = pull origin
    ps = push
    psf = push --force-with-lease
    psu = push -u
    pso = push origin
    psao = push --all origin
    psuo = push -u origin
    r = restore
    ra = rebase --abort
    rc = rebase --continue
    recover-reject-commit = "!f() { git commit -e --file=$(git rev-parse --git-dir)/COMMIT_EDITMSG; }; f"
    ri = rebase --interactive
    root = rev-parse --show-toplevel
    s = status -sb
    st = status

    undo = reset --soft HEAD^
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    stash-all = stash save --include-untracked
[core]
    editor = nvim
    whitespace = trailing-space,space-before-tab
[rerere]
    enabled = true
    autoupdate = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
[help]
    autocorrect = "prompt"
[color]
    ui = auto
[column]
    ui = auto
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[push]
    default = simple
    autoSetupRemote = true
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = copies
    renamelimit = 8192
[fetch]
    prune = true
    all = true
[init]
    defaultBranch = "main"
{{- if .personal }}
[url "git@github.com:nfielder/"]
    insteadOf = https://github.com/nfielder/
{{- end }}
{{- $ghPath := lookPath "gh" }}
{{- if $ghPath }}
[credential "https://github.com"]
    helper = !{{ $ghPath }} auth git-credential
[credential "https://gist.github.com"]
    helper = !{{ $ghPath }} auth git-credential
{{- end }}
