return {
  {
    'xvzc/chezmoi.nvim',
    lazy = true, -- will be lazy loaded by Telescope
    dependencies = { 'nvim-lua/plenary.nvim' },
    opts = {
      edit = {
        watch = false,
        force = false,
      },
    },
  },
  {
    -- Primarily used for syntax highlighting of .tmpl files
    -- NOTE: Consider using vim modelines to set filetype instead
    'alker0/chezmoi.vim',
    lazy = false,
    init = function()
      -- This option is required.
      vim.g['chezmoi#use_tmp_buffer'] = true
      -- add other options here if needed.
      vim.g['chezmoi#source_dir_path'] = '{{ .chezmoi.sourceDir }}'
    end,
  },
}
